<ion-card color="dark">
 <ion-card-header>
  <ion-img (click)="abrirNoticia()" *ngIf="noticia.urlToImage" [src] ="noticia.urlToImage"></ion-img>
  <ion-card-subtitle>
    <span>{{indice + 1}}.</span>
    <span>{{noticia.source.name}}</span>
  </ion-card-subtitle>
  <ion-card-title (click)="abrirNoticia()">{{noticia.title}}</ion-card-title>
  <ion-card-content>{{noticia.content}}</ion-card-content>
 
</ion-card-header>
 
</ion-card>