<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Categorías </ion-title>
  </ion-toolbar>

  <ion-segment
    scrollable
    mode="md"
    color="dark"
    (ionChange)="cambiarCategoria($event)"
  >
    <ion-segment-button
      mode="md"
      *ngFor="let categoria of categorias"
      [value]="categoria"
    >
      <ion-label color="dark">{{ categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content color="light">
  <app-noticias>[noticias]="noticias"</app-noticias>
</ion-content>
