<ion-header [translucent]="true">
  <ion-toolbar  color="dark"> 
    <ion-title>
      Aplicación de Noticias 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
 <app-noticias [noticias]="noticias"></app-noticias>
</ion-content>
